---
layout: default
---

<!DOCTYPE html>
<html lang="en">
<head>
    <title>GeoTrellis – An open source geographic data processing engine for high performance applications</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="An open source geographic data processing engine for high performance applications">
    <meta name="author" content="Azavea">
    
    <link href="favicon.ico" rel="icon" type="image/ico">
    <link href="http://fonts.googleapis.com/css?family=Signika:400,300,600,700" rel="stylesheet" type="text/css">
    <link href="resources/stylesheets/vendor/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="resources/stylesheets/vendor/fontello.css" rel="stylesheet">
    <link href="resources/stylesheets/main.css" rel="stylesheet">
    
    <script src="resources/javascript/jquery-1.9.1.min.js"></script>
    <script src="resources/javascript/bootstrap.min.js"></script>
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="http://geotrellis.github.io"><span></span> GeoTrellis</a>
    </div>
    <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Documentation <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="http://geotrellis.github.io/overviews/">Overview</a></li>
                    <li><a href="http://geotrellis.github.io/gettingstarted/">Getting Started</a></li>
                    <li><a href="http://geotrellis.github.io/tutorials/">Tutorials</a></li>
                    <li><a href="https://github.com/geotrellis/geotrellis/wiki">Wiki</a></li>
                    <li class="divider"></li>
                    <li><a href="http://geotrellis.github.io/operations/">Operations</a></li>
                    <li><a href="http://geotrellis.github.io/glossary/">Glossary</a></li>
                    <li class="divider"></li>
                    <li><a href="http://geotrellis.github.io/scaladocs/latest/#package">Scala Docs</a></li>
                </ul>
            </li>
            <li class="nav-btn"><a href="https://github.com/geotrellis/geotrellis/">Get it on GitHub</a></li>
        </ul>
    </div>
</nav>
<div class="jumbotron">
    <div class="container">
        <h1>Lorem ipsum dolor sit amet.</h1>
        <p>Open source geographic data processing engine for high performance applications.</p>
        <p>
            <a class="btn btn-primary btn-lg" role="button" href="#what-is-geotrellis">What is GeoTrellis?</a>
            <a class="btn btn-primary btn-lg" role="button" href="https://github.com/geotrellis/geotrellis/">Get Started</a>
        </p>
    </div>
</div>
<div id="what-is-geotrellis">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <h3>I/O</h3>
                <p>GeoTrellis provides raster data types and the ability to read and write raster data to disk quickly.</p>
            </div>
            <div class="col-sm-4">
                <h3>Operations</h3>
                <p>GeoTrellis provides a number of operations to manipulate raster data, including cropping/warping, Map Algebra operations, and rendering operations, as well as vector to raster operations such as Kernel Density and vectorization of raster data.</p>
            </div>
            <div class="col-sm-4">
                <h3>Web Service Utilities</h3>
                <p>GeoTrellis includes a set of utilities to help developers create useful, high performing web services that load and manipulate raster data.</p>
            </div>
        </div>
        <hr/>
        <h2>How to use <strong>GeoTrellis</strong></h2>
        <div class="row">
            <div class="col-sm-8">
                <div class="setup-container">
                    <img src="images/setup_01.jpg" />
                </div>
            </div>
            <div class="col-sm-4">
                <h3><strong>Real-time</strong>, web speed REST services</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer blandit tortor porttitor vehicula ullamcorper. Mauris aliquam velit vitae risus venenatis, id aliquam risus laoreet. Suspendisse in imperdiet tellus. Morbi accumsan erat sed eleifend tristique. Nam nec dolor nec ante adipiscing fringilla.</p>
            </div>
        </div>
        <hr class="half" />
        <div class="row">
            <div class="col-sm-8">
                <div class="setup-container">
                    <img src="images/setup_02.jpg" />
                </div>
            </div>
            <div class="col-sm-4">
                <h3><strong>Fast</strong> batch processing</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer blandit tortor porttitor vehicula ullamcorper. Mauris aliquam velit vitae risus venenatis, id aliquam risus laoreet. Suspendisse in imperdiet tellus. Morbi accumsan erat sed eleifend tristique. Nam nec dolor nec ante adipiscing fringilla.</p>
            </div>
        </div>
    </div>
</div>
<div id="case-studies">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <h3>Case Studies</h3>
                <p>Build radically engaging applications. Explore applications that leverage the high performance geoprocessing capabilities of GeoTrellis.</p>
            </div>
            <div class="col-sm-3 col-sm-offset-2">
                <a class="case-study" href="http://transit.geotrellis.com/">
                    <img src="images/case-study_01.jpg" />
                    <h4>GeoTrellis Transit</h4>
                </a>
            </div>
            <div class="col-sm-3">
                <a class="case-study" href="http://demo.geotrellis.com/chatta/">
                    <img src="images/case-study_02.jpg" />
                    <h4>Chattanooga Models</h4>
                </a>
            </div>
        </div>
    </div>
</div>
    
<script type="text/javascript">
    jQuery(document).ready(function() {
        $(function() {
          $('a[data-toggle="tooltip"]').tooltip();
          $('a[href*=#]:not([href=#])').click(function() {
            if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
              var target = $(this.hash);
              target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
              if (target.length) {
                $('html,body').animate({
                  scrollTop: target.offset().top
                }, 1000);
                return false;
              }
            }
          });
        });
    });
</script>
</body>
</html>
